@tailwind base;
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
  }

  body {
    min-height: 100vh;
    background-color: #18f;
  }
  a,
  a:visited {
    color: #fff;
  }
}
@tailwind components;

@layer utilities {
  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }
  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }

  .instructions > svg {
    margin-right: 0.25rem;
  }
  .invalid {
    color: red;
    margin-left: 0.25rem;
  }
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  .line {
    display: inline-block;
  }
  .hide {
    display: none;
  }
}

@tailwind utilities;
